@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');

:root{
    font-family: "Newsreader", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
    background: #75704E;

    --black: color: #0e0c04e1;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--black);
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: #75704E;
}

/* Responsive Design */
@media (max-width: 768px) {
    .AboutPage p {
        font-size: 14px;
    }

    .AboutPage h3 {
        font-size: 20px;
    }

}

@media (min-width: 1200px) {
    .AboutPage p {
        font-size: 32px;
    }

    .AboutPage h3 {
        font-size: 50px;
    }
}

/* NavBar css*/
nav{
    display: flex;
    position: fixed;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
    padding: 10px 20px;
    width: 100vw;
    background-color: rgba(0,0,0,0.6);
}

.links{
    color: #D3D0CB;
    text-decoration: none;
    margin: 5px;
}

html{
    scroll-behavior: smooth;
}

/* Home page css */
.HomePage{
    display: flex;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: beige;
    overflow: hidden;
    font-size: 20px;
}

.parallax{
    background-image: url("https://raw.githubusercontent.com/Toes165/portfolio/main/public/HomeImage.JPG");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/* About page css */
.AboutPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.AboutPage img {
    width: 100%;
    max-width: 250px;
}

.AboutPage p {
    max-width: 500px;
    color: black;
    margin: 7px;
    font-size: 16px;
}

.AboutPage h3 {
    color: black;
    margin: 5px;
}

.about-buttons {
    padding: 5px;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.about-buttons a {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: rgba(0,0,0,0.5);
    height: 50px;
    width: 50px;
}

.about-buttons svg {
    width: 50%;
    height: 50%;
    color: #141204;
}

/* Projects page css */
.ProjectsPage{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
}

.card{
    display: flex;
    align-items: center;
    width: 100%;
    margin: 10px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 30px 10px;
    transition: transform 0.5s ease, padding 0.5s ease;
}

.card:hover{
    transform: scale(1.02);
}

.card-box{
    margin: 10px;
}

.proj-desc p{
    max-width: 500px;
}

.card img{
    width: 150px;
    border-radius: 10px 30px;
}

.card button{
    margin: 5px;
    padding: 8px;
    border-radius: 20px;
    transition: transform 0.3s ease, padding 0.3s ease;
}

.card a{
    color: black;
    text-decoration: none;
}

.card button:hover{
    transform: scale(1.02);
}

/* Contact page css */
.ContactPage {
    display: flex;
    height: 100vh;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.Contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.Contact form input,
.Contact form textarea {
    padding: 10px;
    width: 100%;
    max-width: 500px;
}

.Contact form textarea {
    min-height: 150px;
    scrollbar-color: #75704E white ;
}


